---
import s from './List.module.sass'

interface Props {
  href: string
  title: string
}

const { href, title } = Astro.props
---

<li class={s.list__item}>
  <a class={s.list__link} href={href} target="_blank">
    <h2 class={s.list__title}>
      {title}
      <svg
        class={s.list__svg}
        viewBox="0 0 14 14"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.91683 3.58333H4.0835C3.80735 3.58333 3.5835 3.80719 3.5835 4.08333C3.5835 4.35947 3.80735 4.58333 4.0835 4.58333H8.70972L3.72994 9.56311C3.53468 9.75837 3.53468 10.075 3.72994 10.2702C3.9252 10.4655 4.24179 10.4655 4.43705 10.2702L9.41683 5.29044V9.91666C9.41683 10.1928 9.64069 10.4167 9.91683 10.4167C10.193 10.4167 10.4168 10.1928 10.4168 9.91666V4.08333C10.4168 4.01553 10.4033 3.95089 10.3789 3.89194C10.3545 3.83296 10.3183 3.77771 10.2704 3.72977C10.2224 3.68184 10.1672 3.64567 10.1082 3.62127C10.0493 3.59682 9.98462 3.58333 9.91683 3.58333Z"
        ></path>
      </svg>
    </h2>
  </a>
</li>
