---
import DateFormat from '@components/DateFormat.astro'
import Link from '@components/Link.astro'
import PostsLite from '@components/PostsLite.astro'
import AppLayout from '@layout/AppLayout.astro'
import { type CollectionEntry, getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post: { slug: any }) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<'blog'>

const post = Astro.props
const { Content } = await post.render()
---

<AppLayout
  title={post.data.title}
  description={post.data.description}
  image={post.data.heroImage}
>
  <Link href="/">Back to home</Link>
  <h1>{post.data.title}</h1>
  <DateFormat date={post.data.pubDate} />
  <br />
  <br />
  <h2>Markdown here</h2>
  <Content />
  <PostsLite slug={post.slug} />
</AppLayout>
