---
import s from './Post.module.sass'
import Layout from '@layout/Layout.astro'
import DateFormat from '@components/DateFormat.astro'
import ReadMore from '@components/writing/ReadMore.astro'
import { type CollectionEntry, getCollection } from 'astro:content'
import PostHero from '@components/hero/PostHero.astro'
import Aside from '@components/aside/Aside.astro'
import Tile from '@components/tile/Tile.astro'
import TileHero from '@components/tile/TileHero.astro'
import Main from '@components/main/Main.astro'
import Footer from '@components/footer/Footer.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post: { slug: any }) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<'blog'>

const post = Astro.props
const { Content } = await post.render()
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.heroImage}
>
  <PostHero
    title={post.data.title}
    date={post.data.pubDate}
    image={post.data.heroImage}
  />
  <Main>
    <Content />
  </Main>
  <ReadMore slug={post.slug} />
  <!-- <Footer /> -->
</Layout>
