---
import { Image } from 'astro:assets'
import DateFormat from '@components/DateFormat.astro'
import s from './PostHero.module.sass'

const { title, date, image } = Astro.props
---

<div class={s.PostHero}>
  <div class={s.PostHero__container}>
    <h1 class={s.PostHero__title}>{title}</h1>
    <p class={s.PostHero__date}><DateFormat date={date} /></p>
  </div>
  <div class={s.PostHero__image}>
    <Image src={image} alt="Lorem ipsum" width={2400} height={1600} />
  </div>
</div>
