---
import DateFormat from '@components/DateFormat.astro'
import s from './PostHero.module.sass'
import TileHero from '@components/tile/TileHero.astro'

const { title, date, image } = Astro.props
---

<div class={s.PostHero}>
  <div class={s.PostHero__container}>
    <h1 class={s.PostHero__title}>{title}</h1>
    <p class={s.PostHero__date}><DateFormat date={date} /></p>
  </div>
  <div class={s.PostHero__image}>
    <img src={image} alt="" />
  </div>
</div>
