---
import { Image } from 'astro:assets'
import s from './TileHero.module.sass'
import TileLabel from './TileLabel.astro'

interface Props {
  title: string
  image: string
}

const { title, image } = Astro.props
---

<div class={s.TileHero}>
  <div class={s.TileHero__image}>
    <Image src={image} alt="Lorem ipsum hello" width={1152} height={1620} />
  </div>
  <div class={s.TileHero__container}>
    <svg
      class={s.TileHero__svg}
      viewBox="0 0 40 31"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.97175 2.80146C6.8677 2.7778 9.6903 2.82576 12.513 2.87189C12.8551 2.87737 13.1975 2.86554 13.5394 2.87371C17.4575 2.96683 21.3752 3.10242 25.2938 3.13178C26.4228 3.14027 26.4529 4.05683 26.5822 4.56027C27.2813 7.28307 27.7619 10.0578 28.4092 12.7943C29.0314 15.424 29.633 18.0717 30.5111 20.625C30.8876 21.7201 30.7475 22.1928 29.7276 22.4787C28.5443 22.8104 27.336 23.0576 26.1436 23.3601C25.5243 23.5172 25.1224 23.7977 25.7877 24.3771C26.4591 24.9618 27.2377 25.4502 27.8234 26.1036C29.088 27.5144 30.2625 29.0012 31.4666 30.4626C31.84 30.9159 32.1652 31.176 32.615 30.5119C34.0301 28.4225 35.423 26.3161 36.9251 24.2863C37.6441 23.3146 38.6107 22.5181 39.4206 21.6051C39.6861 21.3059 39.8109 20.8894 40 20.5265C39.4967 20.5214 38.9481 20.39 38.5007 20.5407C37.824 20.7689 37.2459 21.263 36.5751 21.5187C35.5651 21.9035 34.5274 22.3072 33.4675 22.4332C33.1005 22.4768 32.4129 21.7876 32.2491 21.3111C31.6598 19.5968 31.1784 17.8424 30.7611 16.0798C30.4705 14.8526 30.4389 13.567 30.1394 12.3425C29.3073 8.94113 28.4296 5.54888 27.4639 2.18156C27.3655 1.83866 26.5563 1.49952 26.0653 1.48275C23.8687 1.40769 21.6674 1.48296 19.4689 1.44275C15.7457 1.37468 12.0238 1.2464 8.30083 1.17178C6.52543 1.13619 4.74814 1.19038 2.97285 1.15253C2.32742 1.13887 1.68022 0.88436 1.04344 0.916941C0.685541 0.93522 0.347147 1.315 0 1.53199C0.200443 1.76651 0.376731 2.02629 0.605318 2.23135C1.56366 3.0907 2.6615 3.33092 3.97175 2.80146ZM28.8358 24.7787C28.7141 24.5173 28.5926 24.2559 28.4709 23.9945C29.2967 23.8765 30.1307 23.6477 30.9434 23.7051C31.2028 23.7234 31.4227 24.4934 31.6259 24.9346C31.7219 25.1432 31.7358 25.3873 31.7869 25.6153C31.5518 25.4934 31.2567 25.4222 31.0923 25.2402C30.5091 24.5948 29.8827 24.1952 28.8358 24.7787ZM33.0899 24.3519C33.2572 24.02 33.4245 23.6881 33.5918 23.3562C33.7179 23.6815 33.9607 24.0128 33.9434 24.3308C33.9155 24.8447 33.7166 25.3497 33.5898 25.8586C33.4232 25.4511 33.2565 25.0438 33.0899 24.3519Z"
        fill="#8C733B"></path>
    </svg>
    <div>
      <TileLabel title={title} />
      <slot />
    </div>
  </div>
</div>
