---
import s from './Writing.module.sass'
import DateFormat from '@components/DateFormat.astro'
import Tile from '@components/tile/Tile.astro'
import { getCollection, type CollectionEntry } from 'astro:content'

const { slug } = Astro.props

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post: CollectionEntry<'blog'>) => post.slug != slug)
---

<div class={s.ReadMore}>
  <Tile title="More writing">
    <ul class={s.writing}>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <p>
                <DateFormat date={post.data.pubDate} />
              </p>
              <h2>{post.data.title}</h2>
            </a>
          </li>
        ))
      }
    </ul>
  </Tile>
</div>
