---
import { Image } from 'astro:assets'
import s from './Footer.module.sass'
---

<footer class={s.Footer}>
  <div class={s.Footer__wrapper}>
    <div class={s.Footer__top}>
      <a class={s.Footer__logo} href="/">Md Mashqur Ul Alam</a>
      <a class={s.Footer__avatar} href="/"
        ><Image
          src="/public/avatar.jpg"
          alt="avatar"
          width={120}
          height={200}
        /></a
      >
    </div>
    <div class={s.Footer__bottom}>
      <p class={s.Footer__copy}>
        Senior Software Engineer / Full Stack Developer
      </p>
    </div>
  </div>
</footer>
