---
import { Image } from 'astro:assets'
import DateFormat from '@components/DateFormat.astro'
import s from './Certifications.module.sass'

interface Props {
  title: string
  image: string
  // issueDate: Date
  // expireDate: Date
  issueDate: string
  expireDate: string
}

const { title, image, issueDate, expireDate } = Astro.props
---

<li class={s.list__item}>
  <div class={s.list__image}>
    <Image src={image} alt="Certification" width={300} height={300} />
  </div>
  <div class={s.list__content}>
    <h3>{title}</h3>
    <ul>
      <li>Issue: {issueDate}</li>
      <li>Expire: {expireDate}</li>
    </ul>
  </div>
</li>
